<div class="login-container" *ngIf="!loggedIn">
  <p style="text-align: center; padding-top: 5%"></p>
  <div class="login-box">
    <div class="login-box__title">Log In</div>
    <form (submit)="onSubmit()">
      <label for="username" class="login-box__label" [title]="'Hint: Try liveviewer'">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required class="login-box__input" [title]="'Hint: Try liveviewer'">

      <label for="password" class="login-box__label" [title]="'Hint: Try tpain'">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required class="login-box__input" [title]="'Hint: Try tpain'">

      <button type="submit" class="login-box__button">Log In</button>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
